.main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.img-div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.img-btn-div {
  border: 1px solid red;
}
