.bodyDiv {
}

.heading {
  font-family: "Garamond", serif;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 20px;
  letter-spacing: 5px;
}

.logInDiv {
  border: 1px solid grey;
  border-radius: 20px;
  gap: 30px;
  width: 270px;
  padding-bottom: 50px;
  display: flex;
  margin: auto;
  flex-direction: column;
  padding-top: 50px;
}

.logInForm {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.divGroup {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: fit-content;
}

.btnDiv {
  display: flex;
  gap: 15px;
}

.btn {
  font-size: 17px;
}

input {
  padding: 5px;

  border: none;
  border-bottom: 1px solid grey;
  outline: none;
  background: #242424;

  &:focus {
    outline: none;
  }
}

.navigate-link {
  cursor: pointer;
}
